@import "../../styles/mixins";

.label {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-of-type {
    margin-bottom: 40px;
  }

  h4 {
    color: $lightColor;
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: unset;
    gap: 10px;
  }

  .input {
    height: 40px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid $grayColor;
    background-color: $transparentBlackColor;
    @include font(1.5rem, 160%, $lightColor);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      -moz-appearance: textfield;
    }

    &:focus {
      outline: 1px solid white;
    }
  }

  .validation {
    bottom: -20px;
    right: 10px;
  }
}
