$basicColor: #575e72;
$grayColor: #88888d;
$blackColor: #000000;
$transparentBlackColor: rgba(0, 0, 0, 0.5);
$transparentBlackColor-2: rgba(0, 0, 0, 0.7);
$transparentWhiteColor: rgba(255, 255, 255, 0.3);
$activeLinkColor: #272726;
$lightColor: #e3e3e3;
$violetColor: #9833cc;
$darkVioletColor: #7a1fa8;
$whiteColor: white;

$maxWidth: 1440px;

$dropDownZIndex-1: 2;
$dropDownZIndex-2: 4;
$searchResultZIndex-1: 3;
$modalZIndex-1: 10;
$customSelectZIndex: 1;
$gameCardSkeletonZIndex: 2;
