.nav__categories {
  width: 100%;

  .nav__items {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  .nav__item {
    width: 255px;
    height: 155px;
    border: 2px solid $lightColor;
    border-bottom: 8px solid $lightColor;
    border-radius: 15px;

    &:hover {
      border-color: $violetColor;
      box-shadow: 1px 1px 10px $violetColor;
    }
  }

  .nav__link {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      height: 70px;
      width: auto;
    }

    p {
      color: $grayColor;
    }

    &:hover {
      background: initial;
    }
  }
}
